.poibox {
  border-bottom: 1px solid #eaeaea;
  border-left: 2px solid rgba(0, 0, 0, 0);
  padding: 10px 3px;
  cursor: pointer;
  display: flex;
  display: -webkit-flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #f6f6f6;
  }

  .poi-imgbox {
    width: 130px;
    height: 94px;
    line-height: 104px;
    // vertical-align: top;
    margin: 0 15px;
    overflow: hidden;
  }

  .poi-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
  }

  .poi-info-left {
    padding-bottom: 8px;

    .poi-type {
      color: rgb(153, 153, 153);
    }
  }
}